@page "/Editar/{IdColaborador:int}"
@inherits EditarBase;
<EditForm Model="@Colaborador" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <InputComponent @bind-BindingValue="Colaborador.Nombre" Campo="@nameof(Colaborador.Nombre)" Tipo="@Colaborador.GetType()" type="text" Id="@Colaborador.IdColaborador" />
        <ValidationMessage For="@(() => Colaborador.Nombre)" />
    </div>
    <div class="form-group">
        <label for="Apellido">Apellido</label>
        <InputComponent @bind-BindingValue="Colaborador.Apellido" Campo="@nameof(Colaborador.Apellido)" Tipo="@Colaborador.GetType()" type="text" Id="@Colaborador.IdColaborador" />
        <ValidationMessage For="@(() => Colaborador.Apellido)" />
    </div>
    <button class="btn btn-outline-primary" type="submit">Editar</button>
</EditForm>